[Unit]
Description=Provide 3D(Git, Docker, Helm) App API

[Service]
ExecStart=/usr/bin/appstream --api-port=80 --v=3
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
